<p>マイページ</p>
<p>登録情報</p>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <p>氏名</p>
    </div>
    <div class="col-lg-6">
      <p><%= @customer.last_name %></p>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
