<h5>商品一覧</h5>
<div class="container">
    <div class="row">
<table>
    <tr>
        <div class="col-lg-1">
        <th>商品ID</th>
        </div>
        <div class="col-lg-4">
        <th>商品名</th>
        </div>
        <div class="col-lg-2">
        <th>税抜き価格</th>
        </div>
        <div class="col-lg-4">
        <th>ジャンル</th>
        </div>
        <div class="col-lg-2">
        <th>ステータス</th>
        </div>
    </tr>


</table>
</div>
</div>