<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
<h1>About</h1>
<p>ながのCAKEは全国配送可能なケーキ屋さんです<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
さまざまなバリエーションを御用ういしております。<br>
また全国配送も可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。
</p>
</div>
<div class="col-lg-2"></div>
</div>
</div>
