
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <p>ジャンル検索</p>
        </div>
        <div class="col-lg-10">
            <p>ようこそ、ながのCAKEへ！<br>
            このサイトはケーキ販売のECサイトになります<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
            </p>
        </div>
    </div>
</div>
<p>新着商品</p>


