<h1>注文一覧</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払い金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>
  </thead>

  <tbody>
    <% @ordes.each do |order| %>
    <tr><td></td>
        <td><%= order.address %></td>
      <!--<td><!--%= order.order_details.item.name %--><!--/td>-->
    </tr>
    <% end %>
  </tbody>




