<h5>商品一覧</h5>
<% @items.each do |item| %>
<div>
<%= link_to item_path(item.id) do %>
<%= image_tag item.image, size: "200x200" %>
<% end %>
</div>
<b><%= link_to item.name, item_path(item.id) %></b>
<b>¥<%= item.price %></b>
<% end %>